<script lang="ts">
	import { timeAgo } from '$lib/utils/timeAgo';
	import { Badge, Button, Card } from 'flowbite-svelte';
	import { ArrowRightOutline } from 'flowbite-svelte-icons';
	import type { Course } from '$lib/types/course';

	export let course: Course;
</script>

<Card class="min-w-fit flex-1 gap-2">
	<div>
		<Badge large class="font-medium lowercase">#{course.category}</Badge>
		{#if course.course_status === 'draft'}
			<Badge color="red" large class="font-medium lowercase">#unpublished</Badge>
		{/if}
		{#if course.course_status === 'live'}
			<Badge color="green" large class="font-medium lowercase">#published</Badge>
		{/if}
	</div>
	<div class="mb-2">
		<h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
			{course.title}
		</h5>
		<p class="mt-1 text-xs italic">Created {timeAgo(course.created_at)}</p>
	</div>
	<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
		{#if course.description.length > 30}
			{course.description.slice(0, 30)}...
		{:else}
			{course.description}
		{/if}
	</p>
	<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
		{course.total_lessons || 0} lessons
	</p>
	<p class="text-xl font-bold text-gray-900 dark:text-white">₹ {course.price}</p>
	<Button href={`/admin/courses/${course.id}`}>
		Edit / Manage <ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" />
	</Button>
</Card>
