<script lang="ts">
	import { Tabs, TabItem, Heading, Modal, Badge, Indicator } from 'flowbite-svelte';
	import UpdateCourseDetails from '$lib/components/UpdateCourseDetailsTab/UpdateCourseDetailsTab.svelte';
	import CourseCurriculumTab from '$lib/components/CourseCurriculumTab/CourseCurriculumTab.svelte';
	import AddVideoForm from '$lib/components/AddVideo/AddVideo.svelte';
	import AddLessonForm from '$lib/components/AddLessonForm/AddLessonForm.svelte';
	import PublishCourseTab from '$lib/components/PublishCourseTab/PublishCourseTab.svelte';
	import { page } from '$app/stores';

	export let data;
	export let form;

	let lessonModal = false;
	let videoModal = false;

	let isLoading = false;

	let currentLessonId = '';

	let activeTab = $page.url.searchParams.get('tab') || form?.activeTab || 'curriculum';
</script>

<Modal
	title="Add lesson to your course"
	bind:open={lessonModal}
	size="xs"
	autoclose={false}
	class="w-full"
>
	<AddLessonForm courseId={data.course.id} formAction="?/addLesson" />
</Modal>

<Modal
	title="Add video to your lesson"
	bind:open={videoModal}
	size="xs"
	autoclose={false}
	class="w-full"
>
	<AddVideoForm
		on:closeUploadVideoModal={() => (videoModal = false)}
		{isLoading}
		courseId={data.course.id}
		lessonId={currentLessonId}
		token={data.token}
	/>
</Modal>

<div class="flex items-center gap-4">
	<Heading tag="h3" class="w-fit">Edit / manage course</Heading>
	{#if data.course.course_status === 'live'}
		<Badge color="green" rounded class="flex-shrink-0 px-2.5 py-0.5">
			<Indicator color="green" size="xs" class="me-1" />#published
		</Badge>
	{:else}
		<Badge color="red" rounded class="flex-shrink-0 px-2.5 py-0.5">
			<Indicator color="red" size="xs" class="me-1" />#unpublished
		</Badge>
	{/if}
</div>

<Tabs style="underline">
	<TabItem open={activeTab === 'course-info'} title="Course Info">
		<UpdateCourseDetails
			courseId={data.course.id}
			courseTitle={data.course.title}
			courseDescription={data.course.description}
			courseCategory={data.course.category}
			coursePrice={data.course.price}
			formAction="?/updateCourseDetails"
		/>
	</TabItem>
	<TabItem open={activeTab === 'curriculum'} title="Curriculum">
		<CourseCurriculumTab
			course={data.course}
			on:openUploadVideoModal={(e) => {
				currentLessonId = e.detail.lessonId;
				videoModal = true;
			}}
			on:openAddLessonModal={() => (lessonModal = true)}
		/>
	</TabItem>
	<TabItem open={activeTab === 'publish'} title="Publish">
		<PublishCourseTab
			isCoursePublished={data.course.course_status === 'live'}
			{form}
			courseId={data.course.id}
			formAction="?/publishCourse"
		/>
	</TabItem>
</Tabs>
