<script lang="ts">
	import { Card, Button, Input } from 'flowbite-svelte';
	import { ArrowRightOutline, MailBoxSolid, CheckCircleSolid } from 'flowbite-svelte-icons';
	import { onMount, onDestroy } from 'svelte';
	export let data;

	export let id: NodeJS.Timeout | null = null;

	onMount(() => {
		if (data.resent) {
			id = setTimeout(() => {
				data.resent = false;
			}, 5000);
		}
	});

	onDestroy(() => {
		if (id) {
			clearTimeout(id);
		}
	});
</script>

<Card class="mx-auto mt-20 gap-4 text-center">
	<MailBoxSolid class="mx-auto h-20 w-20 text-primary-500" />
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
		Verify your email address
	</h5>
	<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
		You are almost there! We sent a verification email to <span class="font-semibold"
			>{data.email}</span
		>
	</p>
	<p class="mb-3 text-sm font-light leading-tight text-gray-700 dark:text-gray-400">
		Just click on the link in that email to complete your signup. If you don't see it, you may need
		to <span class="font-medium">check your spam</span> folder.
	</p>
	<p>Still can't find the email? No problem.</p>
	{#if data.resent}
		<Button color="green" class="mx-auto w-fit">
			Email Resent Successfully <CheckCircleSolid class="ms-2 h-3.5 w-3.5 text-white" />
		</Button>
	{:else}
		<form method="POST" action="?/resendVerifcationEmail">
			<Input name="email" type="hidden" value={data.email}></Input>
			<Button type="submit" class="mx-auto w-fit">
				Resend Verification Email <ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" />
			</Button>
		</form>
	{/if}
</Card>
