<script>
	import { Heading, P, Button } from 'flowbite-svelte';
	import { ArrowRightOutline } from 'flowbite-svelte-icons';
</script>

<div class="mx-auto mt-20 max-w-2xl text-center">
	<Heading tag="h1" class="mb-4" customSize="text-4xl font-extrabold  md:text-5xl lg:text-6xl"
		>Discover Expert-Led Tech Courses</Heading
	>
	<P class="mb-6 px-8 text-center text-lg dark:text-gray-400 lg:text-xl"
		>Master coding, data analysis, or cybersecurity with hands-on learning and direct mentorship.
		Elevate your skills today.
	</P>
	<Button href="/courses">
		See all courses
		<ArrowRightOutline class="ms-2 h-3.5 w-3.5" />
	</Button>
</div>
