<script lang="ts">
	import Navbar from '$lib/components/Navbar/Navbar.svelte';
	import { Card, Heading, Textarea, Label, Input, Button } from 'flowbite-svelte';
	import { ArrowRightOutline } from 'flowbite-svelte-icons';
</script>

<header class="mb-8 mt-3 flex flex-col gap-5">
	<div class="flex items-center">
		<Heading tag="h3">Create New Course</Heading>
	</div>
	<div class="h-[1px] w-full bg-primary-500"></div>
</header>
<Card size="md" class="mx-auto my-10">
	<form class="flex flex-col space-y-6" method="POST" action="?/createCourse">
		<div>
			<h3 class="text-xl font-medium text-gray-900 dark:text-white">Create a new course</h3>
		</div>
		<Label class="space-y-2">
			<span>Course Title</span>
			<Input type="text" name="title" placeholder="Title" required />
		</Label>
		<Label class="space-y-2">
			<span>Course Description</span>
			<Textarea
				class="block w-full rounded-lg border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 disabled:cursor-not-allowed disabled:opacity-50 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 rtl:text-right"
				type="text"
				name="description"
				placeholder="Description"
				rows={5}
				required
			/>
		</Label>
		<Label class="space-y-2">
			<span>Course Category</span>
			<Input type="text" name="category" placeholder="Category" required />
		</Label>
		<Label class="space-y-2">
			<span>Course Price</span>
			<Input type="number" name="price" placeholder="Price in ₹" required />
		</Label>
		<Button type="submit" class="w-full"
			>Create Course <ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" /></Button
		>
	</form>
</Card>
