<script lang="ts">
	import { page } from '$app/stores';
	import { getAPIUrl } from '$lib/api/api';
	import LessonList from '$lib/components/LessonList/LessonList.svelte';
	import { Badge, Button, Heading, P, Spinner } from 'flowbite-svelte';
	import { CalendarMonthOutline, ClockOutline } from 'flowbite-svelte-icons';
	import { PUBLIC_STRIPE_KEY } from '$env/static/public';
	import { loadStripe, type Stripe } from '@stripe/stripe-js';
	import { formatDate } from '$lib/utils/formatDate';
	import { formatSeconds } from '$lib/utils/secondsToHour.js';
	import { onMount } from 'svelte';
	import TrucateText from '$lib/components/TruncateText/TrucateText.svelte';
	import { goto } from '$app/navigation';
	export let data;

	let stripe: Stripe | null;
	let loading = false;

	const buyCourseHandler = async () => {
		loading = true;
		try {
			if (!$page.data.token) {
				goto('/auth/login');
				return;
			}
			const res = await fetch(getAPIUrl(`/student/buy-course/${$page.params.id}`), {
				method: 'POST',
				headers: {
					authorization: `Bearer ${$page.data.token}`
				}
			});
			const data = await res.json();
			if (res.status === 200) {
				const sessionId = data.session_id;
				stripe?.redirectToCheckout({
					sessionId: sessionId
				});
			}
		} catch (error) {
			console.error(error);
		} finally {
			loading = false;
		}
	};

	onMount(async () => {
		stripe = await loadStripe(PUBLIC_STRIPE_KEY);
	});
</script>

<section class="mx-auto max-w-5xl">
	<header class="mt-8 space-y-5">
		<div class="flex items-center justify-between">
			<P class="flex items-center gap-2 text-gray-500 dark:text-gray-400">
				<CalendarMonthOutline class="h-3.5 w-3.5" />
				<span class="text-sm">Posted on {formatDate(data.course.created_at)}</span>
			</P>
			<P class="flex items-center gap-2 text-gray-500 dark:text-gray-400">
				<ClockOutline class="h-3.5 w-3.5" />
				<span class="text-sm">Last updated on {formatDate(data.course.updated_at)}</span>
			</P>
		</div>
		<Heading tag="h3">{data.course.title}</Heading>
		<TrucateText
			btnClassName="text-gray-600 dark:text-gray-400"
			className="max-w-xl text-gray-500 dark:text-gray-400"
			count={200}
			text={data.course.description}
		/>
		<div class="flex items-center gap-4">
			<Badge large>#{data.course.category}</Badge>
			<div class="text-gray-500 dark:text-gray-400">
				<span class="text-sm">₹{data.course.price}</span>
			</div>
			<div class="flex items-center gap-1 text-gray-500 dark:text-gray-400">
				<ClockOutline class="h-3.5 w-3.5" />
				<span class="text-sm">{formatSeconds(data.course.total_duration)}</span>
			</div>
		</div>
	</header>
	<div class="mt-10">
		{#if data.course.is_enrolled}
			<Button class="italic text-gray-500 dark:text-gray-400" color="light"
				>Enrolled on {formatDate(data.course.enrolled_on)}</Button
			>
		{:else}
			<Button on:click={buyCourseHandler} class="flex items-center gap-2">
				{#if loading}
					<Spinner color="white" size="6" />
				{/if}
				<span class="font-semibold">Enroll Now for ₹{data.course.price}</span>
				<img class="w-32" src="/icons/stripe.svg" alt="" />
			</Button>
		{/if}
	</div>
	<main class="my-8 space-y-8">
		<Heading tag="h4">Lesson Details</Heading>
		<LessonList courseId={data.course.id} lessons={data.course.lessons} />
	</main>
</section>
