<script lang="ts">
	import { Card, Button, Label, Input, Helper } from 'flowbite-svelte';

	export let form;
</script>

<Card class="mx-auto mt-20">
	<form class="flex flex-col space-y-6" method="POST" action="?/forgotPassword">
		<div>
			<h3 class="text-center text-xl font-medium text-gray-900 dark:text-white">Forgot Password</h3>
			{#if form?.errors.message}
				<Helper class="mt-2" color="red">
					{form?.errors.message}
				</Helper>
			{/if}
		</div>
		<p class="mb-3 text-center font-normal leading-tight text-gray-700 dark:text-gray-400">
			Please enter your email address below and we will send you a link to reset your password.
		</p>
		<Label class="space-y-2">
			<span>Email</span>
			<Input type="email" name="email" placeholder="name@company.com" required />
		</Label>
		<Button type="submit" class="w-full">Send Password Reset Link</Button>
	</form>
</Card>
