<script lang="ts">
	import { Card, Button, Label, Input, Helper } from 'flowbite-svelte';

	export let form;
</script>

<Card class="mx-auto mt-20">
	<form class="flex flex-col space-y-6" method="POST" action="?/login">
		<div>
			<h3 class="text-xl font-medium text-gray-900 dark:text-white">Sign in to our platform</h3>
			{#if form?.errors.message}
				<Helper class="mt-2" color="red">
					{form?.errors.message}
				</Helper>
			{/if}
		</div>
		<Label class="space-y-2">
			<span>Email</span>
			<Input type="email" name="email" placeholder="name@company.com" required />
		</Label>
		<Label class="space-y-2">
			<span>Your password</span>
			<Input type="password" name="password" placeholder="•••••" required />
		</Label>
		<div class="flex items-start">
			<a
				href="/auth/forgot-password"
				class="ms-auto text-sm text-primary-700 hover:underline dark:text-primary-500"
			>
				Forgot password?
			</a>
		</div>
		<Button type="submit" class="w-full">Login to your account</Button>
		<div class="text-center text-sm font-medium text-gray-500 dark:text-gray-300">
			Not registered? <a
				href="/auth/signup"
				class="text-primary-700 hover:underline dark:text-primary-500"
			>
				Create account
			</a>
		</div>
	</form>
</Card>
