<script>
	import { Card } from 'flowbite-svelte';
	import { CheckCircleOutline } from 'flowbite-svelte-icons';
</script>

<Card class="mx-auto mt-20 gap-4 text-center">
	<CheckCircleOutline class="mx-auto h-20 w-20 text-green-500" />
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
		Password Reset Email Sent
	</h5>
	<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
		Please check your email for further instructions.
	</p>
</Card>
