<script lang="ts">
	import { Card } from 'flowbite-svelte';
	import { CheckCircleOutline } from 'flowbite-svelte-icons';
	import Navbar from '$lib/components/Navbar/Navbar.svelte';
</script>

<Navbar />

<Card class="mx-auto mt-20 gap-4 text-center">
	<CheckCircleOutline class="mx-auto h-20 w-20 text-primary-500 dark:text-green-500" />
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
		Login Link Sent!
	</h5>
	<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
		An email with a login link has been sent to your email address. Please click on the link to
		login to your admin account.
	</p>
</Card>
