<script lang="ts">
	import CourseCardList from '$lib/components/CourseCardList/CourseCardList.svelte';
	import { Heading } from 'flowbite-svelte';
	import { FilePlusSolid } from 'flowbite-svelte-icons';

	export let data;
</script>

<main class="mx-5">
	<header class="mb-8 mt-3 flex flex-col gap-5">
		<Heading tag="h3">Available Courses</Heading>
		<div class="bg-primary-500 h-[1px] w-full"></div>
	</header>
	{#if data.courses}
		<section class="mb-10 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
			<CourseCardList courses={data.courses} />
		</section>
	{:else}
		<div class="w-full">
			<div
				class="mt-20 flex flex-col justify-center gap-4 text-center text-gray-300 dark:text-gray-400"
			>
				<FilePlusSolid class="mx-auto h-32 w-32" />
				<p class="text-xl font-semibold">No courses found</p>
			</div>
		</div>
	{/if}
</main>
