<script lang="ts">
	import { Card, Button } from 'flowbite-svelte';
	import { ArrowRightOutline, XCircleOutline } from 'flowbite-svelte-icons';

	export let data;
</script>

<Card class="mx-auto mt-20 gap-4 text-center">
	<XCircleOutline class="mx-auto h-20 w-20 text-red-500" />
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
		Course Payment Failed
	</h5>
	{#if data.course}
		<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
			Oh no! Your payment for the <span class="font-bold">{data.course.title}</span> course has failed. Please try again.
		</p>
		<Button href={`/courses/${data.course.id}`} class="mx-auto w-fit">
			Go to Course Page Again <ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" />
		</Button>
	{/if}
</Card>
