<script lang="ts">
	let isTruncated = true;

	export let text: string;

	function toggleTruncation() {
		isTruncated = !isTruncated;
	}

	function handleKeyDown(event: KeyboardEvent) {
		if (event.key === 'Enter') {
			toggleTruncation();
		}
	}
</script>

{#if text.length > 30}
	<button class="my-5 text-left" on:click={toggleTruncation} on:keydown={handleKeyDown}>
		{isTruncated ? `${text.slice(0, 30)}...` : text}
	</button>
{:else}
	<p>{text}</p>
{/if}
