<script lang="ts">
	import { page } from '$app/stores';
	import VideoPlayerSidebar from '$lib/components/VideoPlayerSidebar/VideoPlayerSidebar.svelte';
	import { Button, Heading, P } from 'flowbite-svelte';
	import { ArrowLeftOutline } from 'flowbite-svelte-icons';
	import { onMount } from 'svelte';
	export let data;

	onMount(async () => {
		await import('@mux/mux-player');
	});
</script>

{#if data.video && data.course}
	<Button color="alternative" class="mb-10" href={`/courses/${$page.params.courseId}`}
		><ArrowLeftOutline class="mr-2 h-3.5 w-3.5" /> Back to course / {data.video.courseTitle}</Button
	>
	<div class="flex flex-col lg:flex-row justify-between gap-8">
		{#if data.video.playbackId}
			<div class="mb-10 max-w-4xl flex-1">
				<mux-player
					autoplay
					playback-id={data.video.playbackId}
					playback-token={data.video.token}
					stream-type="on-demand"
					forward-seek-offset="15"
					backward-seek-offset="15"
				/>
				<Heading tag="h3" class="mt-5">{data.video.lessonTitle}</Heading>
				<P tag="h3" class="mt-5">{data.video.lessonDescription}</P>
			</div>
		{/if}
		<VideoPlayerSidebar currentLessonId={data.currentLessonId} course={data.course} />
	</div>
{/if}
