<script lang="ts">
	import { Button, Heading } from 'flowbite-svelte';
	import { PlusSolid } from 'flowbite-svelte-icons';
	import CourseCardList from '$lib/components/CourseCardList/CourseCardList.svelte';

	export let data;
</script>

<header class="mb-8 mt-3 flex flex-col gap-5">
	<div class="flex items-center">
		<Heading tag="h3">My Courses</Heading>
		<Button href="/admin/courses/create" class="hidden flex-shrink-0 items-center gap-2 md:flex">
			<p>Create Course</p>
			<PlusSolid class="h-3 w-3" />
		</Button>
	</div>
	<div class="h-[1px] w-full bg-primary-500"></div>
	<Button href="/admin/courses/create" class="flex flex-shrink-0 items-center gap-2 md:hidden ">
		<p>Create Course</p>
		<PlusSolid class="h-3 w-3" />
	</Button>
</header>
<section class="flex flex-wrap gap-4">
	<CourseCardList courses={data.courses} />
</section>
