<script>
	import { page } from '$app/stores';
	import { Button, Heading, P } from 'flowbite-svelte';
	import { ArrowLeftOutline } from 'flowbite-svelte-icons';
	import { onMount } from 'svelte';
	export let data;

	onMount(async () => {
		await import('@mux/mux-player');
	});

	$: courseId = $page.params.id;
</script>

<Button color="alternative" class="mb-10" href={`/admin/courses/${courseId}`}
	><ArrowLeftOutline class="mr-2 h-3.5 w-3.5" /> Back to course / {data.courseTitle}</Button
>
{#if data.playbackId}
	<div class="mx-auto mb-10 max-w-4xl">
		<mux-player
			playback-id={data.playbackId}
			playback-token={data.token}
			stream-type="on-demand"
			forward-seek-offset="15"
			backward-seek-offset="15"
		></mux-player>
		<Heading tag="h3" class="mt-5">{data.lessonTitle}</Heading>
		<P tag="h3" class="mt-5">{data.lessonDescription}</P>
	</div>
{/if}
