<script lang="ts">
	import { timeAgo } from '$lib/utils/timeAgo';
	import { Badge, Button, Card } from 'flowbite-svelte';
	import { ArrowRightOutline } from 'flowbite-svelte-icons';
	import type { Course } from '$lib/types/course';
	import TrucateText from '../TruncateText/TrucateText.svelte';

	export let course: Course;
</script>

<Card class="flex-1 gap-2">
	<div>
		<Badge large class="font-medium lowercase">#{course.category}</Badge>
		{#if course.course_status === 'draft'}
			<Badge color="red" large class="font-medium lowercase">#unpublished</Badge>
		{/if}
	</div>
	<div class="mb-2">
		<h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
			{course.title}
		</h5>
	</div>
	<TrucateText
		count={100}
		className="mt-2 text-gray-500 dark:text-gray-400"
		btnClassName="text-gray-600 dark:text-gray-400"
		text={course.description}
	/>
	<p class="mt-auto mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
		{course.total_lessons || 0} lessons
	</p>
	<p class="text-xl font-bold text-gray-900 dark:text-white">₹ {course.price}</p>
	<Button href={`/courses/${course.id}`}>
		View course <ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" />
	</Button>
</Card>
