<script>
	import { Navbar, NavBrand, NavLi, NavUl, NavHamburger, Button, P } from 'flowbite-svelte';
	import { DarkMode } from 'flowbite-svelte';
	import { page } from '$app/stores';
	$: activeUrl = $page.url.pathname;
</script>

<Navbar color="primary">
	<NavBrand href="/">
		<span class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
			>CourseCraft</span
		>
	</NavBrand>
	<div class="flex gap-2 md:order-2">
		<DarkMode />
		{#if $page.data.token}
			<form action="/api/auth/logout" method="GET">
				<Button size="sm" type="submit" color="red">Logout</Button>
			</form>
		{:else}
			<Button href="/auth/login">Login</Button>
		{/if}
		<NavHamburger />
	</div>
	<NavUl class="order-1" {activeUrl}>
		{#if $page.data.token}
			<NavLi href="/">Home</NavLi>
			<NavLi href="/courses">Courses</NavLi>
			<NavLi href="/profile">Profile</NavLi>
		{/if}
	</NavUl>
</Navbar>
