<script lang="ts">
	import { page } from '$app/stores';
    import { Accordion, AccordionItem, Button } from 'flowbite-svelte';
    import { PlayOutline } from 'flowbite-svelte-icons';

    export let course: any;
    export let currentLessonId: string;
</script>

<Accordion flush class="max-w-md flex-1">
    {#each course.lessons as lesson, index (lesson.id)}
        <AccordionItem open={currentLessonId === lesson.id}>
            <span slot="header" class="text-xl font-semibold">{index + 1}. {lesson.name}</span>
            <p class="mb-2 text-gray-600 dark:text-gray-400">
                {lesson.description}
            </p>
            {#if currentLessonId == lesson.id}
                <div class="mt-2">
                    <Button color={'light'} disabled class="cursor-not-allowed">Currently Playing</Button>
                </div>
            {:else}
                <div class="mt-2">
                    <Button href={`/learn/${course.id}/l/${lesson.id}/v/${lesson.video.id}`}
                        class="flex items-center space-x-2"
                    >
                        <PlayOutline class="h-4 w-4" />
                        <span>Play Video</span>
                    </Button>
                </div>
            {/if}
        </AccordionItem>
    {/each}
</Accordion>
