<script lang="ts">
	import { getAPIUrl } from '$lib/api/api';
	import { Label, Input, Progressbar, Spinner, Button } from 'flowbite-svelte';
	import * as UpChunk from '@mux/upchunk';
	import { createEventDispatcher } from 'svelte';
	import { tweened } from 'svelte/motion';

	export let courseId: string;
	export let lessonId: string;
	export let token: string | undefined;

	export let isLoading: boolean;

	let file: File;

	const dispatch = createEventDispatcher();
	const progressTw = tweened(0);

	function handleFileInputChange(event: Event) {
		const inputEl = event.target as HTMLInputElement;
		if (inputEl.files) {
			file = inputEl.files[0];
		}
	}

	const submitHandler = async () => {
		try {
			isLoading = true;
			const res = await fetch(getAPIUrl(`/instructor/course/${courseId}/l/${lessonId}/v/new`), {
				method: 'POST',
				headers: {
					authorization: `Bearer ${token}`
				}
			});

			const json = await res.json();

			const upload = UpChunk.createUpload({
				// getUploadUrl is a function that resolves with the upload URL generated
				// on the server-side
				endpoint: json.pre_signed_upload_url,
				// picker here is a file picker HTML element
				file: file,
				chunkSize: 5120 // Uploads the file in ~5mb chunks
			});

			// subscribe to events
			upload.on('error', (err) => {
				console.error('💥 🙀', err.detail);
				isLoading = false;
			});
			upload.on('progress', (progress) => {
				progressTw.set(progress.detail);
			});
			// subscribe to events
			upload.on('success', async (err) => {
				isLoading = false;
				dispatch('closeUploadVideoModal');
				window.location.reload();
			});
		} catch (error) {
			console.error(error);
			isLoading = false;
		}
	};
</script>

<main class="flex flex-col space-y-6">
	<Input type="hidden" name="courseId" value={courseId} required />
	<Input type="hidden" name="lessonId" value={lessonId} required />
	<Label class="space-y-2">
		<Input
			type="file"
			formenctype="multipart/form-data"
			name="video"
			required
			on:change={handleFileInputChange}
		/>
	</Label>
	{#if $progressTw > 0}
		<Progressbar progress={$progressTw} />
	{/if}
	{#if isLoading}
		<Button class="w-full">
			<Spinner color="white" size="5" />
		</Button>
	{:else}
		<Button on:click={submitHandler} class="w-full">Upload Video</Button>
	{/if}
</main>
