<script lang="ts">
	import LessonCard from '../LessonCard/LessonCard.svelte';

	export let courseId: string;
	export let lessons: any[] | undefined;
</script>

{#if lessons}
	{#each lessons as lesson, index (lesson.id)}
		<LessonCard {courseId} {lesson} {index} />
	{/each}
{/if}
