<script lang="ts">
	import { Card, Button } from 'flowbite-svelte';
	import { ArrowRightOutline, CashOutline } from 'flowbite-svelte-icons';

	export let data;
</script>

<Card class="mx-auto mt-20 gap-4 text-center">
	<CashOutline class="mx-auto h-20 w-20 text-green-500" />
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
		Course Payment Successful
	</h5>
	{#if data.course}
		<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
			You have successfully bought the <span class="font-bold">{data.course.title}</span> course. Start
			learning by clicking the button below.
		</p>
		<Button href={`/courses/${data.course.id}`} class="mx-auto w-fit">
			Go to Course <ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" />
		</Button>
	{/if}
</Card>
