<script lang="ts">
	import { Label, Input, Button } from 'flowbite-svelte';
	export let courseId: string;
	export let formAction: string;
</script>

<form class="flex flex-col space-y-6" method="post" action={formAction}>
	<Input type="hidden" name="courseId" value={courseId} required />
	<Label class="space-y-2">
		<span>Lesson title</span>
		<Input type="text" name="lessonTitle" placeholder="New lesson title" required />
	</Label>
	<Label class="space-y-2">
		<span>Lesson description</span>
		<Input type="text" name="lessonDescription" placeholder="New lesson description" required />
	</Label>
	<Button type="submit" class="w-full">Add lesson</Button>
</form>
