<script lang="ts">
	import {
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHeadCell,
		Button
	} from 'flowbite-svelte';
	import {
		CheckCircleOutline,
		ClockOutline,
		XCircleOutline,
		UploadOutline,
		PlayOutline
	} from 'flowbite-svelte-icons';
	import type { Course } from '$lib/types/course';
	import { createEventDispatcher } from 'svelte';
	import TrucateText from '../TruncateText/TrucateText.svelte';

	const dispatch = createEventDispatcher();

	export let course: Course | undefined;
</script>

<main class="mb-10 flex flex-col gap-5">
	<Button on:click={() => dispatch('openAddLessonModal')} class="self-end rounded-sm text-right"
		>Add Lesson +</Button
	>
	<Table>
		<TableBodyRow theadClass="lowercase">
			<TableHeadCell class="font-medium">#</TableHeadCell>
			<TableHeadCell class="font-medium">Title</TableHeadCell>
			<TableHeadCell class="font-medium">Description</TableHeadCell>
			<TableHeadCell class="font-medium">Video Status</TableHeadCell>
			<TableHeadCell class="font-medium">Upload Video</TableHeadCell>
		</TableBodyRow>
		<TableBody tableBodyClass="divide-y">
			{#if course?.lessons}
				{#each course.lessons as lesson, index (lesson.id)}
					<TableBodyRow>
						<TableBodyCell>{index + 1}</TableBodyCell>
						<TableBodyCell>{lesson.name}</TableBodyCell>
						<TableBodyCell tdClass="max-w-lg">
							<TrucateText text={lesson.description} />
						</TableBodyCell>
						<TableBodyCell>
							{#if lesson.video}
								{#if lesson.video.status === 'ready'}
									<span class="flex items-center gap-2 text-green-500"
										><CheckCircleOutline class="text-green-500" /> Video Ready
									</span>
								{:else}
									<span class="flex items-center gap-2 text-yellow-300">
										<ClockOutline class="text-yellow-300" /> Video Processing
									</span>
								{/if}
							{:else}
								<span class="flex items-center gap-2 text-red-600">
									<XCircleOutline /> Video Not Uploaded
								</span>
							{/if}
						</TableBodyCell>
						<TableBodyCell>
							{#if lesson.video}
								{#if lesson.video.status === 'ready'}
									<Button
										href={`/admin/courses/${course.id}/lesson/${lesson.id}/video/${lesson.video.id}`}
										color="light"
									>
										<PlayOutline class="mr-2" />
										Play Video</Button
									>
								{:else}
									<Button color="light" disabled>Play Video</Button>
								{/if}
							{:else}
								<Button
									on:click={() => dispatch('openUploadVideoModal', { lessonId: lesson.id })}
									color="light"
								>
									<UploadOutline class="mr-2" />
									Upload Video</Button
								>
							{/if}
						</TableBodyCell>
					</TableBodyRow>
				{/each}
			{/if}
		</TableBody>
	</Table>
</main>
