<script lang="ts">
	import { FileCirclePlusSolid } from 'flowbite-svelte-icons';
	import CourseCard from '../CourseCard/CourseCard.svelte';
	import type { Course } from '$lib/types/course';

	export let courses: Course[] = [];
</script>

{#each courses as course (course.id)}
	<CourseCard {course} />
{:else}
	<div class="w-fit mx-auto">
		<div class="mt-20 flex flex-col gap-4 text-center text-gray-300 dark:text-gray-400">
			<FileCirclePlusSolid class="mx-auto h-32 w-32" />
			<p class="text-xl font-semibold">No courses found</p>
		</div>
	</div>
{/each}
