<script lang="ts">
	import { Button, Card, Input, Helper } from 'flowbite-svelte';
	import { ArrowRightOutline, CheckPlusCircleSolid } from 'flowbite-svelte-icons';

	type Form = {
		errors: {
			update?: string;
			course?: string;
		};
	};

	export let form: Form | null;
	export let courseId: string;
	export let formAction: string;
	export let isCoursePublished: boolean;
</script>

{#if isCoursePublished}
	<Card class="mx-auto space-y-6 text-center">
		<CheckPlusCircleSolid class="mx-auto h-24 w-24 text-primary-500 dark:text-white" />
		<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
			Course published
		</h5>
		<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
			Your course is published and available for purchase
		</p>
	</Card>
{:else}
	<Card class="mx-auto">
		<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
			Publish your course
		</h5>
		<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
			Please make sure you have uploaded all the videos and added all the lessons
		</p>
		<form action={formAction} method="post">
			<Input type="hidden" name="courseId" value={courseId} />
			<Button type="submit" class="w-fit">
				I am ready, publish course
				<ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" />
			</Button>
			{#if form?.errors.course}
				<Helper class="mt-2" color="red">
					{form?.errors.course}
				</Helper>
			{/if}
		</form>
	</Card>
{/if}
