<script lang="ts">
	let isTruncated = true;

	export let count: number;
	export let text: string;
	export let className: string;
	export let btnClassName: string;

	function toggleTruncation() {
		isTruncated = !isTruncated;
	}

	function handleKeyDown(event: KeyboardEvent) {
		if (event.key === 'Enter') {
			toggleTruncation();
		}
	}
</script>

<div class={`${className}`}>
	{#if text.length > count}
		{isTruncated ? `${text.slice(0, count)}...` : text}
		<button class={`ml-1 ${btnClassName}`} on:click={toggleTruncation} on:keydown={handleKeyDown}
			>{isTruncated ? 'Read More' : 'Read Less'}</button
		>
	{:else}
		{text}
	{/if}
</div>
