<script lang="ts">
	import CourseCard from '../CourseCard/CourseCard.svelte';
	import type { Course } from '$lib/types/course';

	export let courses: Course[] = [];
</script>

{#each courses as course (course.id)}
	<CourseCard {course} />
{/each}
