<script lang="ts">
	import { page } from '$app/stores';
	import { Card, Button, Label, Input, Helper } from 'flowbite-svelte';
	import { EyeOutline, EyeSlashOutline } from 'flowbite-svelte-icons';

	let show = false;
	let confirmPasswordShow = false;

	let token = '';
	$: token = $page.url.searchParams.get('token') || '';
	let passwordV = '';
	let confirmPasswordV = '';
	let isPasswordValid = true;

	$: if (confirmPasswordV !== '') {
		if (passwordV === confirmPasswordV) {
			isPasswordValid = true;
		} else {
			isPasswordValid = false;
		}
	}
</script>

<Card class="mx-auto mt-20">
	<form class="flex flex-col space-y-6" method="POST" action="?/resetPassword">
		<h3 class="text-xl font-medium text-gray-900 dark:text-white">Reset your password</h3>
		<Label class="space-y-2">
			<span>New Password</span>
			<Input
				bind:value={passwordV}
				name="password"
				type={show ? 'text' : 'password'}
				placeholder="•••••"
				required
			>
				<button
					slot="left"
					on:click|preventDefault={() => (show = !show)}
					class="pointer-events-auto"
				>
					{#if show}
						<EyeOutline class="h-6 w-6" />
					{:else}
						<EyeSlashOutline class="h-6 w-6" />
					{/if}
				</button>
			</Input>
		</Label>
		<Label class="space-y-2">
			<span>Confirm Password</span>
			<Input
				bind:value={confirmPasswordV}
				color={isPasswordValid ? 'base' : 'red'}
				name="confirmPassword"
				type={confirmPasswordShow ? 'text' : 'password'}
				placeholder="•••••"
				required
			>
				<button
					slot="left"
					on:click|preventDefault={() => (confirmPasswordShow = !confirmPasswordShow)}
					class="pointer-events-auto"
				>
					{#if confirmPasswordShow}
						<EyeOutline class="h-6 w-6" />
					{:else}
						<EyeSlashOutline class="h-6 w-6" />
					{/if}
				</button>
			</Input>
			{#if !isPasswordValid}
				<Helper class="mt-2" color="red">Passwords do not match</Helper>
			{/if}
		</Label>
		<Input type="text" name="token" class="hidden" bind:value={token} />
		<Button disabled={!isPasswordValid} type="submit" class="w-full">Reset Password</Button>
	</form>
</Card>
