<script lang="ts">
	import { Card, Button } from 'flowbite-svelte';
	import { ArrowRightOutline, CheckCircleSolid } from 'flowbite-svelte-icons';
</script>

<Card class="mx-auto mt-20 gap-4 text-center">
	<CheckCircleSolid class="mx-auto h-20 w-20 text-green-500" />
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
		Successfully Verified!
	</h5>
	<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
		Your email address has been verified. Please sign in to continue.
	</p>
	<Button href="/auth/login" class="mx-auto w-fit">
		Continue to Sign In <ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" />
	</Button>
</Card>
