<script lang="ts">
	import { Label, Input, Textarea, ButtonGroup, InputAddon, Button } from 'flowbite-svelte';

	export let courseId: string;
	export let courseTitle: string;
	export let courseDescription: string;
	export let courseCategory: string;
	export let coursePrice: number;
	export let formAction: string;
</script>

<form method="post" action={formAction}>
	<main class="mb-10 flex flex-col gap-5">
		<Input class="rounded-sm" type="hidden" name="courseId" value={courseId} required />
		<Label class="space-y-2">
			<span>Course title</span>
			<Input class="rounded-sm" type="text" name="title" value={courseTitle} required />
		</Label>
		<Label class="space-y-2">
			<span>Course description</span>
			<Textarea
				rows={10}
				class="rounded-sm"
				type="text"
				name="description"
				value={courseDescription}
				required
			/>
		</Label>
		<Label class="space-y-2">
			<span>Course category</span>
			<Input class="rounded-sm" type="text" name="category" value={courseCategory} required />
		</Label>
		<Label class="space-y-2">
			<span>Course pricing</span>
			<ButtonGroup class="w-full">
				<InputAddon>₹</InputAddon>
				<Input class="rounded-sm" type="number" name="price" value={coursePrice} required />
			</ButtonGroup>
		</Label>
		<Button type="submit" class="rounded-sm">Update Course Details</Button>
	</main>
</form>
