<script lang="ts">
	import Navbar from '$lib/components/Navbar/Navbar.svelte';
	import { Card, Button, Label, Input, Helper, P } from 'flowbite-svelte';
	export let form;
</script>

<Navbar />

<Card class="mx-auto mt-20">
	<form class="flex flex-col space-y-6" method="POST" action="?/login">
		<h3 class="text-xl font-medium text-gray-900 dark:text-white">Sign in to the admin platform</h3>
		<Label color={form?.errors.email ? 'red' : 'gray'} class="space-y-2">
			<span>Email</span>
			<Input
				color={form?.errors.email ? 'red' : 'base'}
				type="email"
				name="email"
				placeholder="name@company.com"
				required
			/>
			{#if form?.errors.email}
				<Helper class="mt-2" color="red">
					{form?.errors.email}
				</Helper>
			{/if}
		</Label>
		<Button type="submit" class="w-full">Send Login Link</Button>
	</form>
</Card>
