<script lang="ts">
	import { Button, Heading } from 'flowbite-svelte';
	import TrucateText from '../TruncateText/TrucateText.svelte';
	import { PlayOutline } from 'flowbite-svelte-icons';
	import { formatSeconds } from '$lib/utils/secondsToHour';

	export let courseId: string;
	export let index: number;
	export let lesson: any;
</script>

<div class="items-center justify-between space-y-4 rounded border p-4 md:flex">
	<div class="max-w-lg">
		<Heading tag="h2" class="text-lg font-semibold">Lesson {index + 1}: {lesson.name} ({formatSeconds(lesson.duration)})</Heading
		>
		<TrucateText
			count={100}
			className="mt-2 text-gray-500 dark:text-gray-400"
			btnClassName="text-gray-600 dark:text-gray-300"
			text={lesson.description}
		/>
	</div>
	{#if lesson.video}
		<Button href={`/learn/${courseId}/l/${lesson.id}/v/${lesson.video.id}`} color="light"
			><PlayOutline class="mr-2 h-3.5 w-3.5" /> Play Video</Button
		>
	{/if}
</div>
