<script>
	import { Heading, Label, Input, Button } from 'flowbite-svelte';
	import { EditOutline } from 'flowbite-svelte-icons';

	export let data;
	let inEditMode = false;

	let name = data.info.name;
</script>

<header class="mb-8 mt-3 flex flex-col gap-5">
	<Heading tag="h3">My Profile</Heading>
	<div class="h-[1px] w-full bg-primary-500"></div>
</header>
<section>
	<div class="max-w-lg space-y-4">
		<form class="flex flex-col gap-4" action="?/updateStudent" method="POST">
			<div class="space-y-2">
				<Label>Name</Label>
				<Input disabled={!inEditMode} type="text" name="name" bind:value={name} required />
			</div>
			{#if !inEditMode}
				<Button on:click={() => (inEditMode = true)} class="flex items-center gap-2">
					<EditOutline class="w-4" />
					<span>Edit Profile</span>
				</Button>
			{:else}
				<div class="flex gap-1">
					<Button class="flex-1" type="submit">Save</Button>
					<Button
						color="red"
						on:click={() => {
							inEditMode = false;
							name = data.info.name;
						}}
						class="flex-1">Cancel</Button
					>
				</div>
			{/if}
		</form>
	</div>
</section>
