<script lang="ts">
	import { Card, Button } from 'flowbite-svelte';
	import { ArrowRightOutline, CheckCircleOutline } from 'flowbite-svelte-icons';
	import Navbar from '$lib/components/Navbar/Navbar.svelte';
</script>

<Navbar />

<Card class="mx-auto mt-20 gap-4 text-center">
	<CheckCircleOutline class="mx-auto h-20 w-20 text-green-500" />
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
		Successfully Verified!
	</h5>
	<p class="mb-3 font-normal leading-tight text-gray-700 dark:text-gray-400">
		Your email address has been verified.
	</p>
	<form action="?/goToAdminDashboard" method="post">
		<Button type="submit" class="mx-auto w-fit">
			Continue to Admin Dashboard <ArrowRightOutline class="ms-2 h-3.5 w-3.5 text-white" />
		</Button>
	</form>
</Card>
